openapi: 3.0.3
info:
  title: GoCanvas API
  version: v3
  description: OpenAPI specification for the GoCanvas REST API (v3), generated from the official API reference
    documentation. GoCanvas lets you manage customers, forms, submissions, dispatches, users, and more.
  contact:
    name: GoCanvas
    url: https://www.gocanvas.com
servers:
- url: https://api.gocanvas.com/api/v3
  description: Production
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Overview
  description: GoCanvas API versioning follows semantic versioning, treating the published number as a
    "major" release. As such, best efforts will be made to introduce changes in a reverse-compatible way.
- name: Customer
  description: Defines a customer's contact information and can either be an individual or a business
    entity. A Customer is optionally associated with a Site.
- name: Department
  description: A Department represents an organizational unit within a Company. Users can be assigned
    to one or multiple Departments. Forms created in one Department can be shared with another.
- name: Dispatch
  description: A Dispatch is a pre-populated set of responses to a Form that will become a Submission
    once the dispatched user completes the Form. Dispatches also have additional capabilities such as
    scheduling and notifications. Dispatches will closely resemble Submissions.
- name: Form
  description: A Form is how you capture data with GoCanvas. It defines all data you wish to collect.
- name: Group
  description: Groups allow for the organization of users and can be assigned Forms. Groups are a useful
    way to organize teams, job functions, or common workflows and manage Form assignments in one place
    rather than individually assigning Forms to each User. Learn more about GoCanvas Groups.
- name: Me
  description: The /me endpoint is useful for OAuth-authenticated applications to verify the current token's
    user information and retrieve basic profile data. It can also be helpful to retrieve company_id and
    default_department_id for subsequent API calls.
- name: Project
  description: A Project is created and used to track the progress of a specific task or job. A Project
    is associated with a Department, and optionally a Customer and Site. A Project can have a status of
    active, inactive, or draft.
- name: Reference Data
  description: 'Reference Data is data that is used to populate dropdowns, checkboxes, and other controls
    in a Form. The two main purposes of Reference Data are to:'
- name: Report
  description: Reports assemble Submission data in the desired presentation format (e.g. a PDF) according
    to their Report Definition. Forms and Submissions may have multiple Report Definitions.
- name: Locations
  description: Use the Locations endpoint to retrieve the sequence of location events captured by Tracker.
    You can scope the results to a single mobile user or, by omitting the user_id, retrieve activity for
    every user in your company.
- name: Site
  description: A site represents a physical location where work is conducted. To create a site, the user
    must have authorization to create a site for the associated company.
- name: Submission
  description: A Submission is a set of responses to a Form. Submissions are how GoCanvas clients transmit
    collected data.
- name: User
  description: A User is a GoCanvas user who belongs to a specific Company. To ensure proper access and
    permissions, each User must be assigned a valid Company role.
- name: Values
  description: Values represent the data that is collected in a submission. Most values will be in-line
    within the Retrieve a Submission response. Values for media fields (photos, videos, or attachments)
    must be downloaded individually using this method.
- name: Webhooks
  description: Webhooks are a customizable Integration Option that will notify your back end services
    of GoCanvas events in real time when you have time-sensitive needs based on your Form events.
paths:
  /oauth/token:
    post:
      tags:
      - Overview
      summary: 'Authentication: Bearer'
      operationId: authentication_bearer
      description: 'GoCanvas supports OAuth 2.0 authentication to retrieve a short-lived token for API
        access. This token can then be passed in the Authorization HTTP header as a Bearer token to authenticate
        requests. To use Bearer authentication, you must first create an OAuth application in your profile.
        GoCanvas offers two OAuth 2.0 flows:'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
                  scope:
                    type: string
                  created_at:
                    type: integer
              example:
                access_token: 30puVebCmI7wbVjIQPt1KIYE81voxKdkKZwSaCWRiZM
                token_type: Bearer
                expires_in: 7200
                scope: api
                created_at: 1733346054
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
      security: []
  /customers:
    get:
      tags:
      - Customer
      summary: List all Customers
      operationId: list_all_customers
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: The page requested, see Pagination
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    customer_type:
                      type: string
                    business_name:
                      type: string
                      nullable: true
                    contact_role:
                      type: string
                      nullable: true
                    contact_first_name:
                      type: string
                    contact_last_name:
                      type: string
                    contact_email:
                      type: string
                    contact_phone:
                      type: string
                    contact_preference:
                      type: string
                      nullable: true
                    notes:
                      type: string
                      nullable: true
                    default_site_id:
                      type: integer
                    code:
                      type: string
              example:
              - id: 10
                type: customer
                customer_type: individual
                business_name: null
                contact_role: null
                contact_first_name: Ben
                contact_last_name: Jackson
                contact_email: ben.jackson@example.com
                contact_phone: '5555555555'
                contact_preference: null
                notes: null
                default_site_id: 1
                code: NEW00001
              - id: 11
                type: customer
                customer_type: business
                business_name: Chichago Inc
                contact_role: null
                contact_first_name: Jessica
                contact_last_name: Nixon
                contact_email: jessica.nixon@example.com
                contact_phone: '4444444444'
                contact_preference: null
                notes: null
                default_site_id: null
                code: NEW00002
              - id: 12
                type: customer
                customer_type: individual
                business_name: null
                contact_role: null
                contact_first_name: Sam
                contact_last_name: Johnson
                contact_email: sam.johnson@example.com
                contact_phone: '3333333333'
                contact_preference: null
                notes: null
                default_site_id: 3
                code: NEW00003
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Customer
      summary: Create a Customer
      operationId: create_a_customer
      description: To create a new Customer, the POST body can be sent as JSON. The customer_type field
        is required. If customer_type is individual, you must also provide contact_first_name and contact_last_name.
        If customer_type is business, you must also provide business_name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_type:
                  type: string
                  enum:
                  - individual
                  - business
                  description: The type of the Customer. Can be individual or business
                business_name:
                  type: string
                  description: The name of the business, if the customer_type is a business
                contact_role:
                  type: string
                  description: The role of the contact person for the Customer
                contact_first_name:
                  type: string
                  description: The first name of the contact person for the Customer
                contact_last_name:
                  type: string
                  description: The last name of the contact person for the Customer
                contact_email:
                  type: string
                  description: The email address of the contact person for the Customer
                contact_phone:
                  type: string
                  description: The phone number of the contact person for the Customer
                contact_preference:
                  type: string
                  description: The preferred method of contact for the Customer
                notes:
                  type: string
                  description: A longer string value to describe the Customer
                code:
                  type: string
                  description: An alpha numeric code to uniquely identify the Customer
              required:
              - customer_type
            example:
              customer_type: business
              business_name: LLC Renovation
              contact_first_name: Sean
              contact_last_name: Mitchel
              contact_email: sean.mitchel@example.com
              contact_phone: '3334445555'
              code: NEW00001
              site_id: 7
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  customer_type:
                    type: string
                  business_name:
                    type: string
                  contact_role:
                    type: string
                    nullable: true
                  contact_first_name:
                    type: string
                  contact_last_name:
                    type: string
                  contact_email:
                    type: string
                  contact_phone:
                    type: string
                  contact_preference:
                    type: string
                    nullable: true
                  notes:
                    type: string
                    nullable: true
                  default_site_id:
                    type: integer
                  code:
                    type: string
              example:
                id: 14
                type: customer
                customer_type: business
                business_name: LLC Renovation
                contact_role: null
                contact_first_name: Sean
                contact_last_name: Mitchel
                contact_email: sean.mitchel@example.com
                contact_phone: '3334445555'
                contact_preference: null
                notes: null
                default_site_id: 7
                code: NEW00001
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /customers/{customer_id}:
    get:
      tags:
      - Customer
      summary: Retrieve a Customer
      operationId: retrieve_a_customer
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  customer_type:
                    type: string
                  business_name:
                    type: string
                    nullable: true
                  contact_role:
                    type: string
                    nullable: true
                  contact_first_name:
                    type: string
                  contact_last_name:
                    type: string
                  contact_email:
                    type: string
                  contact_phone:
                    type: string
                  contact_preference:
                    type: string
                    nullable: true
                  notes:
                    type: string
                    nullable: true
                  default_site_id:
                    type: integer
                  code:
                    type: string
              example:
                id: 10
                type: customer
                customer_type: individual
                business_name: null
                contact_role: null
                contact_first_name: Ben
                contact_last_name: Jackson
                contact_email: ben.jackson@example.com
                contact_phone: '5555555555'
                contact_preference: null
                notes: null
                default_site_id: 1
                code: NEW00001
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    patch:
      tags:
      - Customer
      summary: Update a Customer
      operationId: update_a_customer
      description: To update an existing Customer, the PATCH request body can be sent as JSON.
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
        example: 14
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_type:
                  type: string
                  enum:
                  - individual
                  - business
                  description: The type of the Customer. Can be individual or business
                business_name:
                  type: string
                  description: The name of the business, if the customer_type is a business
                contact_role:
                  type: string
                  description: The role of the contact person for the Customer
                contact_first_name:
                  type: string
                  description: The first name of the contact person for the Customer
                contact_last_name:
                  type: string
                  description: The last name of the contact person for the Customer
                contact_email:
                  type: string
                  description: The email address of the contact person for the Customer
                contact_phone:
                  type: string
                  description: The phone number of the contact person for the Customer
                contact_preference:
                  type: string
                  description: The preferred method of contact for the Customer
                notes:
                  type: string
                  description: A longer string value to describe the Customer
                default_site_id:
                  type: integer
                  description: The ID of the default site associated with the Customer. When multiple
                    site_ids are provided this field denotes the Primary Site.
                code:
                  type: string
                  description: An alpha numeric code to uniquely identify the Customer
                site_ids:
                  type: array
                  description: Sites IDs for adding Sites to the Customer. When more than one Site is
                    provided, the first will be used unless a default_site_id is specified
              required:
              - customer_type
            example:
              default_site_id: 12
              notes: Unit renovation
              site_ids:
              - 10
              - 11
              - 12
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: Customer updated successfully
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    delete:
      tags:
      - Customer
      summary: Delete a Customer
      operationId: delete_a_customer
      description: A Customer can be deleted with a DELETE request. By default, the DELETE request will
        soft-delete the Customer, which preserves the Customer data but hides it from the web views. To
        permanently delete a Customer, use the hard_delete=true parameter, e.g. DELETE https://www.gocanvas.com/api/v3/customers/14?hard_delete=true.
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
        example: 14
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
  /departments:
    get:
      tags:
      - Department
      summary: List all Departments
      operationId: list_all_departments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    created_at:
                      type: string
                      nullable: true
              example:
              - id: -1
                type: department
                name: All
                description: All
                created_at: null
              - id: 111
                type: department
                name: First Department
                description: My first department
                created_at: 2023-05-31 15:34:47 UTC
              - id: 112
                type: department
                name: Second Department
                description: A second department
                created_at: 2023-05-31 16:24:28 UTC
              - id: 113
                type: department
                name: Third Department
                description: My third department
                created_at: 2023-05-31 16:27:30 UTC
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Department
      summary: Create a Department
      operationId: create_a_department
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: A short string value for name of a new Department
                description:
                  type: string
                  description: A longer string value describing a new Department
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  created_at:
                    type: string
              example:
                id: 114
                type: department
                name: My New Department
                description: This is a new department
                created_at: 2023-06-02 13:43:08 UTC
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /departments/{department_id}/users:
    get:
      tags:
      - Department
      summary: List all Department Users
      operationId: list_all_department_users
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: integer
        example: 1999
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    user:
                      type: object
                      properties:
                        id:
                          type: integer
                        first_name:
                          type: string
                        last_name:
                          type: string
                        email:
                          type: string
                        enabled:
                          type: boolean
                    department_role:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
              example:
              - type: department_user
                user:
                  id: 5486
                  first_name: Jane
                  last_name: Doe
                  email: jane.doe@gocanvas.com
                  enabled: true
                department_role: department_user
                created_at: 2022-09-13 17:02:49 UTC
                updated_at: 2022-09-13 17:02:49 UTC
              - type: department_user
                user:
                  id: 5490
                  first_name: Smith
                  last_name: Kane
                  email: smith.kane@gocanvas.com
                  enabled: false
                department_role: department_admin
                created_at: 2022-09-13 17:02:49 UTC
                updated_at: 2022-09-13 17:02:49 UTC
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Department
      summary: Add a User to a Department
      operationId: add_a_user_to_a_department
      parameters:
      - name: department_id
        in: path
        required: true
        schema:
          type: integer
        example: 1999
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: The id of the User to add
                department_role:
                  type: string
                  description: A string matching a valid departmental role
            example:
              user_id: 5491
              department_role: department_user
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  department_role:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  user_id:
                    type: integer
                  department_id:
                    type: integer
              example:
                type: department_user
                department_role: department_user
                created_at: 2023-05-31 14:36:04 UTC
                updated_at: 2023-05-31 14:36:04 UTC
                user_id: 5491
                department_id: 1999
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /dispatches:
    get:
      tags:
      - Dispatch
      summary: List all Dispatches
      operationId: list_all_dispatches
      description: Users can retrieve a list of all Dispatches that they have access to. Required parameters
        are user_id, department_id, or form_id.
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: The page requested, see Pagination
      - name: user_id
        in: query
        required: true
        schema:
          type: integer
        description: The identifier for the User assigned the Dispatch
      - name: department_id
        in: query
        required: true
        schema:
          type: integer
        description: The identifier for the Department associated with the Dispatch
      - name: form_id
        in: query
        required: true
        schema:
          type: integer
        description: The identifier for the Form associated with Dispatch
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - unassigned
          - assigned
          - received
        description: The status of the Dispatch. Can be unassigned,assigned, or received
      - name: start_date
        in: query
        required: false
        schema:
          type: string
        description: A DateTime value for the beginning bounds to filter the Dispatches' created_at
      - name: end_date
        in: query
        required: false
        schema:
          type: string
        description: A DateTime value for the ending bounds to filter the Dispaches' created_at
      - name: scheduled_start_date
        in: query
        required: false
        schema:
          type: string
        description: A DateTime value for the beginning bounds to filter the Dispatches' scheduled_at
      - name: scheduled_end_date
        in: query
        required: false
        schema:
          type: string
        description: A DateTime value for the ending bounds to filter the Dispaches' scheduled_end
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    form_id:
                      type: integer
                    user_id:
                      type: integer
                    department_id:
                      type: integer
                    customer_id:
                      type: string
                      nullable: true
                    project_id:
                      type: string
                      nullable: true
                    site_id:
                      type: string
                      nullable: true
                    submission_id:
                      type: string
                      nullable: true
                    name:
                      type: string
                    description:
                      type: string
                    status:
                      type: string
                    scheduled_at:
                      type: string
                    scheduled_end:
                      type: string
                    sent_at:
                      type: string
                      nullable: true
                    completed_at:
                      type: string
                      nullable: true
                    deleted_at:
                      type: string
                      nullable: true
                    send_calendar_invite:
                      type: boolean
                    reminder_interval:
                      type: integer
                    created_at:
                      type: string
              example:
              - id: 194780
                type: dispatch_item
                form_id: 346103
                user_id: 840365
                department_id: 11942
                customer_id: null
                project_id: null
                site_id: null
                submission_id: null
                name: Repair request
                description: 123 Main St Service Request
                status: assigned
                scheduled_at: '2024-10-01T08:00:00Z'
                scheduled_end: '2024-12-01T12:00:00Z'
                sent_at: null
                completed_at: null
                deleted_at: null
                send_calendar_invite: true
                reminder_interval: 60
                created_at: '2024-11-11T21:09:02Z'
              - id: 194781
                type: dispatch_item
                form_id: 346103
                user_id: 840365
                department_id: 11942
                customer_id: null
                project_id: null
                site_id: null
                submission_id: null
                name: Fence repair request
                description: 123 Main St Service Request
                status: assigned
                scheduled_at: '2024-12-03T08:00:00Z'
                scheduled_end: '2024-12-03T10:00:00Z'
                sent_at: null
                completed_at: null
                deleted_at: null
                send_calendar_invite: true
                reminder_interval: 60
                created_at: '2024-11-11T21:09:02Z'
              - id: 194782
                type: dispatch_item
                form_id: 346103
                user_id: 840365
                department_id: 11942
                customer_id: null
                project_id: null
                site_id: null
                submission_id: null
                name: Tree trimming request
                description: 123 Main St Service Request
                status: assigned
                scheduled_at: '2024-12-06T08:00:00Z'
                scheduled_end: '2024-12-06T12:00:00Z'
                sent_at: null
                completed_at: null
                deleted_at: null
                send_calendar_invite: true
                reminder_interval: 60
                created_at: '2024-11-11T21:09:02Z'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Dispatch
      summary: Customers, Projects, and Sites
      operationId: customers_projects_and_sites
      description: Dispatches may be created and associated with Customers, Projects, or Sites. This allows
        for Dispatches to be organized and tracked within the Project Management Views. Dispatches associated
        with Customers, Projects, or Sites support the same parameters as Dispatches without associations
        such as loops and scheduling. Additional parameters such as customer_id are used to create the
        association.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: The JSON Dispatch body
                assignee_id:
                  type: integer
                  description: The identifier for the User assigned the Dispatch; when this is not provided,
                    the Dispatch remains unassigned
                name:
                  type: string
                  description: A short name for the Dispatch displayed on the Dispatch Calendar and the
                    assigned user's calendar invitation
                description:
                  type: string
                  description: A short description of the Dispatch displayed on the assigned user's mobile
                    device
                dispatch_type:
                  type: string
                  enum:
                  - immediate_dispatch
                  - scheduled_dispatch
                  description: The type of the Dispatch. Can be immediate_dispatch or scheduled_dispatch
                form_id:
                  type: integer
                  description: The identifier to specify a Form
                customer_id:
                  type: integer
                  description: The identifier of the Customer to associate the Dispatch with
                project_id:
                  type: integer
                  description: The identifier of the Project to associate the Dispatch with
                site_id:
                  type: integer
                  description: The identifier of the Site to associate the Dispatch with
                responses[]:
                  type: array
                  description: A collection of responses against Form Entries used to pre-populate the
                    assignee's Submission
                responses[].entry_id:
                  type: integer
                  description: The unique identifier of an Entry
                responses[].value:
                  type: string
                  description: The response data for the Entry
                responses[].multi_key†:
                  type: string
                  description: Reference to the looped value
            example:
              assignee_id: 840365
              name: Repair request
              description: 123 Main St Service Request
              dispatch_type: immediate_dispatch
              department_id: 11942
              form_id: 346103
              project_id: 11
              responses:
              - entry_id: 4506586
                value: Jane
              - entry_id: 4506587
                value: Doe
              - entry_id: 4506588
                value: Main Street
              - entry_id: 4506589
                value: Boca Raton
              - entry_id: 4506590
                value: FL
              - entry_id: 4506591
                value: '23456'
              - entry_id: 4506592
                value: USA
              - entry_id: 4506593
                value: 222-333-4444
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  form_id:
                    type: integer
                  user_id:
                    type: integer
                  department_id:
                    type: integer
                  customer_id:
                    type: string
                    nullable: true
                  project_id:
                    type: integer
                  site_id:
                    type: string
                    nullable: true
                  submission_id:
                    type: string
                    nullable: true
                  name:
                    type: string
                  description:
                    type: string
                  status:
                    type: string
                  scheduled_at:
                    type: string
                    nullable: true
                  scheduled_end:
                    type: string
                    nullable: true
                  sent_at:
                    type: string
                    nullable: true
                  completed_at:
                    type: string
                    nullable: true
                  deleted_at:
                    type: string
                    nullable: true
                  send_calendar_invite:
                    type: boolean
                  reminder_interval:
                    type: string
                    nullable: true
                  created_at:
                    type: string
              example:
                id: 194780
                type: dispatch_item
                form_id: 346103
                user_id: 840365
                department_id: 11942
                customer_id: null
                project_id: 11
                site_id: null
                submission_id: null
                name: Repair request
                description: 123 Main St Service Request
                status: assigned
                scheduled_at: null
                scheduled_end: null
                sent_at: null
                completed_at: null
                deleted_at: null
                send_calendar_invite: false
                reminder_interval: null
                created_at: 2024-11-11 21:09:02 UTC
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /dispatches/{dispatch_id}:
    get:
      tags:
      - Dispatch
      summary: Retrieve a Dispatch
      operationId: retrieve_a_dispatch
      description: Users can retrieve a Dispatch by its ID.
      parameters:
      - name: dispatch_id
        in: path
        required: true
        schema:
          type: integer
        example: 194780
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  form_id:
                    type: integer
                  user_id:
                    type: integer
                  department_id:
                    type: integer
                  customer_id:
                    type: string
                    nullable: true
                  project_id:
                    type: string
                    nullable: true
                  site_id:
                    type: string
                    nullable: true
                  submission_id:
                    type: string
                    nullable: true
                  name:
                    type: string
                  description:
                    type: string
                  status:
                    type: string
                  scheduled_at:
                    type: string
                  scheduled_end:
                    type: string
                  sent_at:
                    type: string
                    nullable: true
                  completed_at:
                    type: string
                    nullable: true
                  deleted_at:
                    type: string
                    nullable: true
                  send_calendar_invite:
                    type: boolean
                  reminder_interval:
                    type: integer
                  created_at:
                    type: string
                  responses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        entry_id:
                          type: integer
                        value:
                          type: string
              example:
                id: 194780
                type: dispatch_item
                form_id: 346103
                user_id: 840365
                department_id: 11942
                customer_id: null
                project_id: null
                site_id: null
                submission_id: null
                name: Repair request
                description: 123 Main St Service Request
                status: assigned
                scheduled_at: 2024-12-01 08:00:00 UTC
                scheduled_end: 2024-12-01 12:00:00 UTC
                sent_at: null
                completed_at: null
                deleted_at: null
                send_calendar_invite: true
                reminder_interval: 60
                created_at: 2024-11-11 21:09:02 UTC
                responses:
                - id: 7894001
                  type: response
                  entry_id: 4506586
                  value: Jane
                - id: 7894002
                  type: response
                  entry_id: 4506587
                  value: Doe
                - id: 7894003
                  type: response
                  entry_id: 4506588
                  value: Main St
                - id: 7894004
                  type: response
                  entry_id: 4506589
                  value: Boca Raton
                - id: 7894005
                  type: response
                  entry_id: 4506590
                  value: FL
                - id: 7894006
                  type: response
                  entry_id: 4506591
                  value: '23456'
                - id: 7894007
                  type: response
                  entry_id: 4506592
                  value: USA
                - id: 7894008
                  type: response
                  entry_id: 4506593
                  value: 222-333-4444
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    delete:
      tags:
      - Dispatch
      summary: Delete a Dispatch
      operationId: delete_a_dispatch
      description: A Dispatch can be deleted with a DELETE request. By default, the DELETE request will
        only soft delete the Dispatch which preserves the Dispatch data and removes it from mobile device
        task lists. To permanently delete the Dispatch, include the hard_delete parameter with a value
        of true, e.g. DELETE https://www.gocanvas.com/api/v3/dispatches/194781?hard_delete=true .
      parameters:
      - name: dispatch_id
        in: path
        required: true
        schema:
          type: integer
        example: 194781
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
  /forms:
    get:
      tags:
      - Form
      summary: List all Forms
      operationId: list_all_forms
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: The page requested, see Pagination
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    status:
                      type: string
                    version:
                      type: integer
                    root_version_id:
                      type: integer
                    dispatch_enabled:
                      type: boolean
                    workflow_enabled:
                      type: boolean
                    web_form:
                      type: boolean
                    email_options:
                      type: integer
                    view_pdf_mobile:
                      type: boolean
              example:
              - id: 346127
                type: form
                name: Basic Form
                description: User Info
                status: published
                version: 1
                root_version_id: 346127
                dispatch_enabled: true
                workflow_enabled: false
                web_form: true
                email_options: 2
                view_pdf_mobile: true
              - id: 4639578
                type: form
                name: Loop Screen Form
                description: null
                status: published
                version: 1
                root_version_id: 4639578
                dispatch_enabled: false
                workflow_enabled: false
                web_form: false
                email_options: 2
                view_pdf_mobile: true
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Form
      summary: Create a Form
      operationId: create_a_form
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Form
                status:
                  type: string
                  enum:
                  - new
                  - pending
                  - published
                  description: The target status of the Form. Must be one of new, pending, or published
                department_id:
                  type: integer
                  description: The Department ID for the Form
                sections:
                  type: array
                  description: Array of sections containing sheets and entries
              required:
              - department_id
              - name
              - status
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                  version:
                    type: integer
                  root_version_id:
                    type: integer
                  dispatch_enabled:
                    type: boolean
                  workflow_enabled:
                    type: boolean
                  web_form:
                    type: boolean
                  email_options:
                    type: integer
                  view_pdf_mobile:
                    type: boolean
              example:
                id: 346127
                type: form
                name: Basic Form
                description: null
                status: published
                version: 1
                root_version_id: 346127
                dispatch_enabled: true
                workflow_enabled: false
                web_form: true
                email_options: 2
                view_pdf_mobile: true
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /forms/{form_id}:
    get:
      tags:
      - Form
      summary: Retrieve a Form
      operationId: retrieve_a_form
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 346127
      - name: format
        in: query
        required: false
        schema:
          type: string
        description: nested, flat, minimal, metadata
        example: flat
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                  version:
                    type: integer
                  root_version_id:
                    type: integer
                  workflow_enabled:
                    type: boolean
                  dispatch_enabled:
                    type: boolean
                  web_form:
                    type: boolean
                  email_options:
                    type: integer
                  view_pdf_mobile:
                    type: boolean
                  is_locked_by_canvas:
                    type: boolean
                  mobile_builder_enabled:
                    type: boolean
                  sheet_style_enabled:
                    type: boolean
                  builderVersion:
                    type: string
                  sections:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        form_id:
                          type: integer
                        description:
                          type: string
                        position:
                          type: integer
                        section_type_id:
                          type: integer
                        hides_detailed_description:
                          type: boolean
                        sheets:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              type:
                                type: string
                              form_id:
                                type: integer
                              section_id:
                                type: integer
                              description:
                                type: string
                              position:
                                type: integer
                              sheet_type_id:
                                type: integer
                              inserts_page_break_at_the_end:
                                type: boolean
                              show_sheet_name:
                                type: boolean
                              allow_duplicate:
                                type: string
                                nullable: true
                              style:
                                type: integer
                              integration_form:
                                type: boolean
                              entries:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                    type:
                                      type: string
                                    form_id:
                                      type: integer
                                    sheet_id:
                                      type: integer
                                    entry_type_id:
                                      type: integer
                                    label:
                                      type: string
                                    default:
                                      type: string
                                      nullable: true
                                    length:
                                      type: string
                                      nullable: true
                                    required:
                                      type: boolean
                                    position:
                                      type: integer
                                    guid:
                                      type: string
                                    original_type_id:
                                      type: integer
                                    reference_data_column:
                                      type: string
                                      nullable: true
                                    reference_data_id:
                                      type: string
                                      nullable: true
                                    live_data_source_id:
                                      type: string
                                      nullable: true
                                    live_data_source_column:
                                      type: string
                                      nullable: true
                                    data_source_context_id:
                                      type: string
                                      nullable: true
                                    read_only:
                                      type: boolean
                                    visible:
                                      type: boolean
                                    pdf_visibility:
                                      type: integer
                                    web_visibility:
                                      type: integer
                                    receipt_label:
                                      type: string
                                      nullable: true
                                    report_label:
                                      type: string
                                      nullable: true
                                    export_label:
                                      type: string
                                      nullable: true
                                    auto_email_subject:
                                      type: boolean
                                    auto_email_body:
                                      type: boolean
                                    auto_email_filename:
                                      type: boolean
                                    inserts_page_break_at_the_end:
                                      type: boolean
                                    auto_submission_name:
                                      type: boolean
                                    minimum:
                                      type: string
                                      nullable: true
                                    maximum:
                                      type: string
                                      nullable: true
                                    mask:
                                      type: string
                                      nullable: true
                                    style:
                                      type: integer
                                    barcode_enabled:
                                      type: string
                                      nullable: true
                                    integration_form:
                                      type: boolean
                                    gps_display_type:
                                      type: string
                                      nullable: true
                                    zoom_level:
                                      type: string
                                      nullable: true
                                    gps_accuracy:
                                      type: string
                                      nullable: true
                                    gps_timeout:
                                      type: string
                                      nullable: true
                                    gps_accuracy_required:
                                      type: boolean
                                    summary_entry:
                                      type: string
                                      nullable: true
                                    reference_image_id:
                                      type: string
                                      nullable: true
                                    entry_values:
                                      type: array
                                      items:
                                        type: object
                                    operations:
                                      type: array
                                      items:
                                        type: object
                                    dependent_entry:
                                      type: string
                                      nullable: true
                                    conditions:
                                      type: array
                                      items:
                                        type: object
                              conditions:
                                type: array
                                items:
                                  type: object
                              multi_section:
                                type: string
                                nullable: true
                              display_entry:
                                type: string
                                nullable: true
              example:
                id: 346127
                type: form
                name: Basic Form
                description: null
                status: published
                version: 1
                root_version_id: 346127
                workflow_enabled: false
                dispatch_enabled: false
                web_form: false
                email_options: 2
                view_pdf_mobile: true
                is_locked_by_canvas: false
                mobile_builder_enabled: false
                sheet_style_enabled: true
                builderVersion: '3'
                sections:
                - id: 8980
                  type: section
                  form_id: 346127
                  description: User Info
                  position: 0
                  section_type_id: 10
                  hides_detailed_description: false
                  sheets:
                  - id: 10289
                    type: sheet
                    form_id: 346127
                    section_id: 8980
                    description: User Info
                    position: 0
                    sheet_type_id: 11
                    inserts_page_break_at_the_end: false
                    show_sheet_name: true
                    allow_duplicate: null
                    style: 0
                    integration_form: false
                    entries:
                    - id: 51498
                      type: entry
                      form_id: 346127
                      sheet_id: 10289
                      entry_type_id: 10
                      label: NAME
                      default: null
                      length: null
                      required: false
                      position: 0
                      guid: 2F04C1F7C3CE7A29F3E7351619181168339182D0
                      original_type_id: 0
                      reference_data_column: null
                      reference_data_id: null
                      live_data_source_id: null
                      live_data_source_column: null
                      data_source_context_id: null
                      read_only: false
                      visible: true
                      pdf_visibility: 0
                      web_visibility: 0
                      receipt_label: null
                      report_label: null
                      export_label: null
                      auto_email_subject: false
                      auto_email_body: false
                      auto_email_filename: false
                      inserts_page_break_at_the_end: false
                      auto_submission_name: false
                      minimum: null
                      maximum: null
                      mask: null
                      style: 0
                      barcode_enabled: null
                      integration_form: false
                      gps_display_type: null
                      zoom_level: null
                      gps_accuracy: null
                      gps_timeout: null
                      gps_accuracy_required: false
                      summary_entry: null
                      reference_image_id: null
                      entry_values: []
                      operations: []
                      dependent_entry: null
                      conditions: []
                    - id: 51499
                      type: entry
                      form_id: 346127
                      sheet_id: 10289
                      entry_type_id: 10
                      label: ADDRESS
                      default: null
                      length: null
                      required: false
                      position: 1
                      guid: 93C144AD3E0BD7612C7075B43562E752F4247CDF
                      original_type_id: 0
                      reference_data_column: null
                      reference_data_id: null
                      live_data_source_id: null
                      live_data_source_column: null
                      data_source_context_id: null
                      read_only: false
                      visible: true
                      pdf_visibility: 0
                      web_visibility: 0
                      receipt_label: null
                      report_label: null
                      export_label: null
                      auto_email_subject: false
                      auto_email_body: false
                      auto_email_filename: false
                      inserts_page_break_at_the_end: false
                      auto_submission_name: false
                      minimum: null
                      maximum: null
                      mask: null
                      style: 0
                      barcode_enabled: null
                      integration_form: false
                      gps_display_type: null
                      zoom_level: null
                      gps_accuracy: null
                      gps_timeout: null
                      gps_accuracy_required: false
                      summary_entry: null
                      reference_image_id: null
                      entry_values: []
                      operations: []
                      dependent_entry: null
                      conditions: []
                    - id: 51500
                      type: entry
                      form_id: 346127
                      sheet_id: 10289
                      entry_type_id: 10
                      label: CITY
                      default: null
                      length: null
                      required: false
                      position: 2
                      guid: 21C29FA4B978ACEC738392B99479C41B3AA645C2
                      original_type_id: 0
                      reference_data_column: null
                      reference_data_id: null
                      live_data_source_id: null
                      live_data_source_column: null
                      data_source_context_id: null
                      read_only: false
                      visible: true
                      pdf_visibility: 0
                      web_visibility: 0
                      receipt_label: null
                      report_label: null
                      export_label: null
                      auto_email_subject: false
                      auto_email_body: false
                      auto_email_filename: false
                      inserts_page_break_at_the_end: false
                      auto_submission_name: false
                      minimum: null
                      maximum: null
                      mask: null
                      style: 0
                      barcode_enabled: null
                      integration_form: false
                      gps_display_type: null
                      zoom_level: null
                      gps_accuracy: null
                      gps_timeout: null
                      gps_accuracy_required: false
                      summary_entry: null
                      reference_image_id: null
                      entry_values: []
                      operations: []
                      dependent_entry: null
                      conditions: []
                    - id: 51501
                      type: entry
                      form_id: 346127
                      sheet_id: 10289
                      entry_type_id: 15
                      label: STATE
                      default: ''
                      length: null
                      required: false
                      position: 3
                      guid: D8A8A397FFAD78F50EB96128B169815A5852F5BF
                      original_type_id: 5
                      reference_data_column: null
                      reference_data_id: null
                      live_data_source_id: null
                      live_data_source_column: null
                      data_source_context_id: null
                      read_only: false
                      visible: true
                      pdf_visibility: 0
                      web_visibility: 0
                      receipt_label: null
                      report_label: null
                      export_label: null
                      auto_email_subject: false
                      auto_email_body: false
                      auto_email_filename: false
                      inserts_page_break_at_the_end: false
                      auto_submission_name: false
                      minimum: 2.0
                      maximum: 5.0
                      mask: null
                      style: 1
                      barcode_enabled: false
                      integration_form: false
                      gps_display_type: null
                      zoom_level: null
                      gps_accuracy: null
                      gps_timeout: null
                      gps_accuracy_required: false
                      summary_entry: null
                      reference_image_id: null
                      entry_values:
                      - id: 786229679
                        type: entry_value
                        entry_id: 51501
                        text: ARIZONA
                        position: 0
                      - id: 786229680
                        type: entry_value
                        entry_id: 51501
                        text: ALASKA
                        position: 1
                      - id: 786229681
                        type: entry_value
                        entry_id: 51501
                        text: ALABAMA
                        position: 2
                      - id: 786229682
                        type: entry_value
                        entry_id: 51501
                        text: null
                        position: 3
                      operations: []
                      dependent_entry: null
                      conditions: []
                    conditions: []
                    multi_section: null
                    display_entry: null
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Form
      summary: Update a Form
      operationId: update_a_form
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 346127
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the Form
                status:
                  type: string
                  enum:
                  - pending
                  - published
                  - archived
                  description: The target status of the Form. Must be one of pending, published, or archived
                department_id:
                  type: integer
                  description: The Department ID for the Form
                sections:
                  type: array
                  description: Array of sections containing sheets and entries
              required:
              - department_id
              - name
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                  version:
                    type: integer
                  root_version_id:
                    type: integer
                  dispatch_enabled:
                    type: boolean
                  workflow_enabled:
                    type: boolean
                  web_form:
                    type: boolean
                  email_options:
                    type: integer
                  view_pdf_mobile:
                    type: boolean
              example:
                id: 346127
                type: form
                name: Basic Form
                description: null
                status: published
                version: 1
                root_version_id: 346127
                dispatch_enabled: true
                workflow_enabled: false
                web_form: true
                email_options: 2
                view_pdf_mobile: true
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    delete:
      tags:
      - Form
      summary: Delete a Form
      operationId: delete_a_form
      description: A Form can be deleted with a DELETE request. By default, the DELETE request will soft-delete
        the Form, which preserves the Form data but hides it from all views. To permanently delete a Form,
        use the hard_delete=true parameter, e.g. DELETE https://www.gocanvas.com/api/v3/forms/346127?hard_delete=true.
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 346127
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
  /forms/{form_id}/assigned_users:
    get:
      tags:
      - Form
      summary: Assigned Users for Form
      operationId: assigned_users_for_form
      description: User can view a list of all the Users the specified Form has been assigned to.
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 4639578
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    first_name:
                      type: string
                    last_name:
                      type: string
                    email:
                      type: string
              example:
              - id: 5486
                type: assigned_user
                first_name: Jane
                last_name: Doe
                email: jane.doe@gocanvas.com
              - id: 5490
                type: assigned_user
                first_name: Smith
                last_name: Kane
                email: smith.kane@gocanvas.com
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Form
      summary: Assign User to Form
      operationId: assign_user_to_form
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 4639578
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  form_id:
                    type: integer
                  user_id:
                    type: integer
                  department_id:
                    type: integer
              example:
                type: assigned_user
                form_id: 4639578
                user_id: 114
                department_id: 1234
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /forms/{form_id}/shared_departments:
    get:
      tags:
      - Form
      summary: Shared Departments for Form
      operationId: shared_departments_for_form
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 4639578
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
              example:
              - id: 1234
                type: department
                name: First Department
                description: First Department
              - id: 1235
                type: department
                name: Second Department
                description: Second Department
              - id: 1236
                type: department
                name: Third Department
                description: Third Department
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Form
      summary: Share Form with Departments
      operationId: share_form_with_departments
      parameters:
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 4639578
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                department_ids:
                  type: array
                  items:
                    type: integer
            example:
              department_ids:
              - 1234
              - 1235
              - 1236
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
              example:
              - id: 1234
                type: department
                name: First Department
                description: First Department
              - id: 1235
                type: department
                name: Second Department
                description: Second Department
              - id: 1236
                type: department
                name: Third Department
                description: Third Department
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /groups:
    get:
      tags:
      - Group
      summary: List all Groups
      operationId: list_all_groups
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: The page requested, see Pagination
      - name: department_id
        in: query
        required: true
        schema:
          type: integer
        description: The identifier for the Department associated with the Group
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    department_id:
                      type: integer
                    created_at:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
              example:
              - id: 1873
                type: group
                department_id: 21474
                created_at: '2025-06-04T00:12:02Z'
                name: Inspectors
                description: Common tasks for inspectors
              - id: 1891
                type: group
                department_id: 21474
                created_at: '2025-06-04T00:52:26Z'
                name: General Contractors
                description: GCs, subcontractors, and other workers
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Group
      summary: Create a Group
      operationId: create_a_group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: A short string value for name of the Group
                description:
                  type: string
                  description: A longer string value to describe the Group
                department_id:
                  type: integer
                  description: The Department the Group is associated with
              required:
              - department_id
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  department_id:
                    type: integer
                  created_at:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  members:
                    type: array
                    items:
                      type: object
                  assigned_forms:
                    type: array
                    items:
                      type: object
              example:
                id: 1891
                type: group
                department_id: 21474
                created_at: '2025-06-04T00:52:26Z'
                name: General Contractors
                description: GCs, subcontractors, and other workers
                members: []
                assigned_forms: []
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /groups/{group_id}:
    get:
      tags:
      - Group
      summary: Retrieve a Group
      operationId: retrieve_a_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1873
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  department_id:
                    type: integer
                  created_at:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        enabled:
                          type: boolean
                        login:
                          type: string
                  assigned_forms:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        status:
                          type: string
                        version:
                          type: integer
                        root_version_id:
                          type: integer
              example:
                id: 1873
                type: group
                department_id: 21474
                created_at: '2025-06-03T17:39:39Z'
                name: Inspectors
                description: Common tasks for inspectors
                members:
                - id: 20079
                  type: user
                  enabled: true
                  login: charles.neverdon@example.com
                assigned_forms:
                - id: 80531
                  type: form
                  name: Site Evaluation
                  description: null
                  status: published
                  version: 6
                  root_version_id: 80526
                - id: 81531
                  type: form
                  name: Hazard Assessment
                  description: null
                  status: published
                  version: 24
                  root_version_id: 74915
                - id: 43671
                  type: form
                  name: Timecard
                  description: null
                  status: published
                  version: 2
                  root_version_id: 34544
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    patch:
      tags:
      - Group
      summary: Update a Group
      operationId: update_a_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1873
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: A short string value for name of the Group
                description:
                  type: string
                  description: A longer string value to describe the Group
                members:
                  type: array
                  description: An array of Users to overwrite the current members withOmit members to
                    leave unchangedPass an empty array ([]) to remove all members.
                members[].id:
                  type: integer
                  description: The unique User id
                members[].login:
                  type: string
                  description: The email address of the User
                assigned_forms:
                  type: array
                  description: An array of Forms to overwrite the current assigned forms withOmit assigned_forms
                    to leave unchangedPass an empty array ([]) to remove all assigned forms.
                assigned_forms[].id:
                  type: integer
                  description: The identifier for the Form to assign to the Group
                assigned_forms[].root_version_id:
                  type: integer
                  description: The root_version_id for the Form to assign to the Group.This will assign
                    the latest published version of the Form.
                send_notification:
                  type: boolean
                  description: When true, a notification will be sent to affected users when their group
                    membership or new form assignments are created.Notification settings configured by
                    users or at the account level are respected, refer to Change GoCanvas Notification
                    Settings
              required:
              - members[].id
              - members[].login
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  department_id:
                    type: integer
                  created_at:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        enabled:
                          type: boolean
                        login:
                          type: string
                  assigned_forms:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        type:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        status:
                          type: string
                        version:
                          type: integer
                        root_version_id:
                          type: integer
              example:
                id: 1873
                type: group
                department_id: 21474
                created_at: '2025-06-03T17:39:39Z'
                name: Inspectors
                description: Common tasks for inspectors
                members:
                - id: 20079
                  type: user
                  enabled: true
                  login: charles.neverdon@example.com
                assigned_forms:
                - id: 80531
                  type: form
                  name: Site Evaluation
                  description: null
                  status: published
                  version: 6
                  root_version_id: 80526
                - id: 81531
                  type: form
                  name: Hazard Assessment
                  description: null
                  status: published
                  version: 24
                  root_version_id: 74915
                - id: 43671
                  type: form
                  name: Timecard
                  description: null
                  status: published
                  version: 2
                  root_version_id: 34544
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    delete:
      tags:
      - Group
      summary: Delete a Group
      operationId: delete_a_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1874
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
  /groups/{group_id}/forms:
    post:
      tags:
      - Group
      summary: Assign Form to Group
      operationId: assign_form_to_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1874
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: The identifier for the Form to assign to the Group
                root_version_id:
                  type: integer
                  description: The root_version_id for the Form to assign to the Group.This will assign
                    the latest published version of the Form.
                send_notification:
                  type: boolean
                  description: When true, a notification will be sent to group members about the newly
                    assigned form.Notification settings configured by users or at the account level are
                    respected, refer to Change GoCanvas Notification Settings
              required:
              - id
              - root_version_id
            example:
              id: 80531
              root_version_id: 80526
              send_notification: true
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /groups/{group_id}/forms/{form_id}:
    delete:
      tags:
      - Group
      summary: Remove Form from Group
      operationId: remove_form_from_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1874
      - name: form_id
        in: path
        required: true
        schema:
          type: integer
        example: 80531
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
  /groups/{group_id}/users:
    post:
      tags:
      - Group
      summary: Assign User to Group
      operationId: assign_user_to_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1874
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: The identifier for the User to assign to the Group
                login:
                  type: string
                  description: The email address of the User to assign to the Group
                send_notification:
                  type: boolean
                  description: When true, a notification will be sent to the user about being added to
                    the group.Notification settings configured by users or at the account level are respected,
                    refer to Change GoCanvas Notification Settings
              required:
              - id
              - login
            example:
              id: 20079
              login: charles.neverdon@example.com
              send_notification: true
      responses:
        '201':
          description: Created
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /groups/{group_id}/users/{user_id}:
    delete:
      tags:
      - Group
      summary: Remove User from Group
      operationId: remove_user_from_group
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: integer
        example: 1874
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
        example: 20079
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
  /me:
    get:
      tags:
      - Me
      summary: Current User Profile
      operationId: current_user_profile
      description: The /me endpoint is useful for OAuth-authenticated applications to verify the current
        token's user information and retrieve basic profile data. It can also be helpful to retrieve company_id
        and default_department_id for subsequent API calls.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  login:
                    type: string
                  phone:
                    type: string
                  address:
                    type: string
                  address2:
                    type: string
                  city:
                    type: string
                  state:
                    type: string
                  zip:
                    type: string
                  enabled:
                    type: boolean
                  created_at:
                    type: string
                  company_id:
                    type: integer
                  company_name:
                    type: string
                  default_department_id:
                    type: integer
                  default_department_name:
                    type: string
              example:
                id: 20122
                type: user
                first_name: John
                last_name: Doe
                login: john.doe@example.com
                phone: 555-123-4567
                address: 123 Main St
                address2: Suite 200
                city: Denver
                state: CO
                zip: '80202'
                enabled: true
                created_at: '2023-06-15T10:30:45.000-04:00'
                company_id: 1999
                company_name: Example Company
                default_department_id: 5678
                default_department_name: Operations
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
  /projects:
    get:
      tags:
      - Project
      summary: List all Projects
      operationId: list_all_projects
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: The page requested, see Pagination
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    company_id:
                      type: integer
                    department_id:
                      type: integer
                    customer_id:
                      type: integer
                    site_id:
                      type: integer
                    start_date:
                      type: string
                    end_date:
                      type: string
                      nullable: true
                    status:
                      type: string
                    notes:
                      type: string
                    code:
                      type: string
              example:
              - id: 11
                name: My new Project
                company_id: 135196
                department_id: 21974
                customer_id: 25
                site_id: 6
                start_date: 2023-10-01 00:00:00 UTC
                end_date: null
                status: active
                notes: House renovation
                code: NEW00001
              - id: 12
                name: Swimming Pool Project
                company_id: 135196
                department_id: 21974
                customer_id: null
                site_id: null
                start_date: 2023-10-01 00:00:00 UTC
                end_date: 2023-12-31 00:00:00 UTC
                status: active
                notes: Below ground swimming pool
                code: PRO033
              - id: 13
                name: Remodel Project
                company_id: 135196
                department_id: 21974
                customer_id: null
                site_id: null
                start_date: 2023-10-01 00:00:00 UTC
                end_date: 2023-12-31 00:00:00 UTC
                status: active
                notes: House remodel
                code: NEW0443
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Entity
    post:
      tags:
      - Project
      summary: Create a Project
      operationId: create_a_project
[...]
